<!DOCTYPE html>
<html lang="en">
<head>
  <title>CrED-Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color: lightgreen;">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="http://localhost:5000/">
            CrED
        </a>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:5000/create">
                            Create
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:5000/edit">
                            Edit
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:5000/delete">
                            Delete
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:5000/view">
                            View
                        </a>
                    </li>
                </ul>
            </div>
    </nav>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
          margin-top: 30px;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
          color: white;
        }
        
        </style>
<div style="width: 30%; float:left; margin-left: 140px; ;">
    <center>
        <h5 style="margin-top: 30px;">Select The Article to Delete</h5>
    </center>
    <div class="jumbotron" style="width: 100%; height:300px; margin-top: 30px; background-color: white;">
        <form action = "http://localhost:5000/deleted" method = "POST">
            <label for="State" style="margin-left: 10px;">
                <b>
                    Choose the Title of the Article
                </b>
            </label>
            <div>
                <select class="form-control" id="cars" name = "index">
                    {% for i in lis %}
                    <option name={{i}} value={{i}}>{{i}}</option>    
                    {% endfor %}
                  </select>
            </div>
            <div>
                <center>
                    <button type="submit" value="submit" class="btn btn-primary" style="margin-left: 10px; margin-top: 15px; padding-left: 30px; padding-right: 30px;">
                        Delete Article
                    </button>
                </center>
            </div>  
        </form>
    </div>
</div>
<div style="width: 60%; height: 50%;float:right;">
    <center>
        <h5 style="margin-top: 30px;">List Of Contents</h5>
    </center>
    <table class="table-dark" style="width:750px; margin-left:75px;">
    <tr>
        <th>S.no</th>
        <th>Title</th>
    </tr>
    {% for i in lis %}
    <tr>
        <td>{{lis.index(i)+1}}</td>
        <td>{{i}}</td>
    </tr>
    {% endfor %}
    </table>
    </center>
</div>
</body>
</html>